@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    max-width: 1440px;
    height: 100vh;
    background: url('/images/bg-desktop.svg') no-repeat var(--Violet);
    margin: 40px 80px 20px 80px;
    color: white;
}

header {
    min-height: 150px;
}

main {
    display: flex;
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

.image {
    display: inline-block;
}

aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px 0px 45px 55px;
}

aside>h1{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 1.4em;
    margin-bottom: 30px;
}

aside>p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.07em;
    margin-bottom: 25px;
}

button{
    background-color: white;
    color: var(--Violet);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    width: 200px;
    padding: 15px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.366);
}

button:hover{
    background-color: var(--Soft-Magenta);
    color: white;
}

footer{
    display: flex;
    justify-content: right;
}

footer .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: .1rem solid white;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
    margin: 0 .5rem 0 0;
}

.social-media a:hover{
    border: .1rem solid var(--Soft-Magenta);
    color: var(--Soft-Magenta);
}